<html>
    <head><title>Election</title></head>
    <body>
      <div style="
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 20px;
        text-align: center;
      ">
        <table style="text-align: center; padding-left: 40%;">
            <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Votes</th>
            </thead>
            <tbody>
                    <td>1</td>
                    <td>Candidate1</td>
                    <td id="votecount1">{{data.voteCount1}}</td>
            </tbody>
            <tbody>
                    <td>2</td>
                    <td>Candidate2</td>
                    <td id="votecount2">{{data.voteCount2}}</td>
            </tbody>
        </table>
        </div><br>
        <div style="text-align: center">
          <label>Select Account : </label>
            <select id="AccountList" class="Accounts">
              </select>
        <br><br>
        <label>Select Candidate : </label>
        <select id="AccountList1" class="Accounts1">
          <option value=1>{{data.candidate1}}</option>
        <option value=2>{{data.candidate2}}</option>
        </select><br><br>
        <button id="vote">vote</button>
        <input type="text" id="selecytedAccount" style="display: none">
        <input type="text" id="selecytedCandiadte" style="display: none">
        <input type="text" id="accounts1" value="{{data.accounts}}" style="display: none">
        
      </div>
    </body>
</html>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../devJs/voting.js"></script>
